/* La petite police qui va bien tu connais */
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

.Simon {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 490px;
  background-color: blueviolet;
  font-family: "Press Start 2P";
}

button {
  font-family: "Press Start 2P";
  font-size: 10px;
}
.Title {
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 10px;
}

/* Les Scores */
.Check {
  font-size: 13px;
  position: relative;
  margin-left: 255px;
  width: 48px;
  bottom: 90px;
  color: rgb(0, 0, 0);
  background-color: rgb(116, 6, 97);
}

.Vague {
  font-size: 15px;
  width: 130px;
  position: relative;
  bottom: 4px;
  margin-left: 100px;
  color: rgb(0, 0, 0);
  background-color: rgb(116, 6, 97);
}

/* Les 6 boutons de jeu */
.bRouge {
  position: relative;
  left: 120px;
  bottom: 35px;
  display: inline-block;
  padding: 25px 25px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(238, 77, 74);
  border-radius: 15px;
  box-shadow: 0 1px #999;
}
.bRouge:active {
  background-color: rgb(255, 139, 137);
  box-shadow: 0 2px #666;
  transform: translateY(0.5px);
}

.bBleu {
  position: relative;
  left: 140px;
  bottom: 50px;
  display: inline-block;
  padding: 25px 25px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3134e0;
  border-radius: 15px;
  box-shadow: 0 1px #999;
}
.bBleu:active {
  background-color: rgb(92, 130, 255);
  box-shadow: 0 2px #666;
  transform: translateY(0.5px);
}

.bViolet {
  position: relative;
  left: 160px;
  bottom: 35px;
  display: inline-block;
  padding: 25px 25px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(198, 33, 204);
  border-radius: 15px;
  box-shadow: 0 1px #999;
}
.bViolet:active {
  background-color: rgb(251, 124, 255);
  box-shadow: 0 2px #666;
  transform: translateY(0.5px);
}

.bJaune {
  position: relative;
  right: 150px;
  top: 35px;
  padding: 25px 25px;
  font-size: 10px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(235, 238, 74);
  border-radius: 15px;
  box-shadow: 0 1px #999;
}
.bJaune:active {
  background-color: rgb(255, 254, 179);
  box-shadow: 0 2px #666;
  transform: translateY(0.5px);
}

.bBleuCiel {
  position: relative;
  top: 50px;
  right: 20px;
  display: inline-block;
  padding: 25px 25px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(74, 186, 238);
  border-radius: 15px;
  box-shadow: 0 1px #999;
}
.bBleuCiel:active {
  background-color: rgb(130, 226, 255);
  box-shadow: 0 2px #666;
  transform: translateY(0.5px);
}

.bVert {
  position: relative;
  top: 35px;
  left: 105px;
  display: inline-block;
  padding: 25px 25px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(46, 224, 55);
  border-radius: 15px;
  box-shadow: 0 1px #999;
}
.bVert:active {
  background-color: rgb(122, 255, 133);
  box-shadow: 0 2px #666;
  transform: translateY(0.5px);
}

/* Affichage des clics sur les boutons */

#Choix {
  z-index: 1;
  position: relative;
  top: 90px;
  right: 95px;
  display: inline;
  padding: 10px 15px;
  font-size: 15px;
  background-color: rgb(116, 6, 97);
  color: #fff;
  border: none;
  border-radius: 15px;
}

#FChoix {
  z-index: 0;
  position: relative;
  width: 120px;
  top: 55px;
  left: 145px;
  padding: 18px 15px;
  background-color: rgb(116, 6, 97);
  color: #fff;
  border: none;
  border-radius: 15px;
}

/* Les boutons Jouer, Rejouer et Le Votre Tour Provisoire */
.Jouer {
  position: relative;
  top: 180px;
  left: 60px;
  display: inline;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(116, 6, 97);
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

.Jouer:active {
  background-color: rgba(116, 6, 98, 0.74);
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.Rejouer {
  position: relative;
  top: 180px;
  left: 160px;
  display: inline;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(116, 6, 97);
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

.Rejouer:active {
  background-color: rgba(116, 6, 98, 0.74);
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.VotreTour {
  position: relative;
  top: 50px;
  padding: 10px 15px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
}

/* PopUp */
.Pop {
  position: relative;
  bottom: 9px;
  left: 360px;
  background: url(./images/information.png) no-repeat;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  border-color: none;
  outline: 0;
}

.modal .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 22px;
  text-align: center;
  padding: 1px;
}
.modal .content {
  width: 100%;
  padding: 15px 5px;
  font-size: 10px;
}

.modal .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 4px;
  line-height: 15px;
  right: -10px;
  top: -10px;
  font-size: 20px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
